
/* MAIN FORMATTING */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* TOP BAR */
header {
  background-color: #096a63; 
  color: white;
  text-align: center;
  padding: 1em;
}

/* NAVBAR */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center;
  background-color: #8accc7; 
}

nav ul li a {
  color: black;
  text-decoration: none; 
  padding: 14px 20px;
  display: block;
}

/* HOVER COLOR ON NAVBAR */
nav ul li a:hover {
  background-color: #5f9e99;
}

/* CENTER ALIGNMENT */
section {
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
}


footer {
  background-color: #258e87;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed; 
  width: 100%;
  bottom: 0;
}

/* HIDE PAGE */
.page {
  display: none;
}

/* SHOW PAGE*/
.active {
  display: block;
}
